src/graphql/generated/*

# ビルド出力
dist/
build/

# 依存関係
node_modules/

# ログ
*.log

# 環境変数
.env*
!.env.example

# その他
.DS_Store
coverage/
.git/
.vscode/
.idea/

# 生成されたファイル
*.generated.*
*.min.js
*.min.css

# パッケージマネージャーのロックファイル
yarn.lock
package-lock.json

# orval
app/generated/

.react-router/