openapi: 3.0.0
info:
  title: API
  version: 1.0.0
components:
  schemas: {}
  parameters: {}
paths:
  /api/users/{id}:
    get:
      parameters:
        - schema:
            type: string
            minLength: 3
            example: '1212121'
          required: true
          name: id
          in: path
      responses:
        '200':
          description: Retrieve the user
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: '123'
                  name:
                    type: string
                    example: John Doe
                  email:
                    type: string
                    format: email
                    example: john.doe@example.com
                  createdAt:
                    type: string
                    format: date-time
                    example: '2021-01-01'
                  updatedAt:
                    type: string
                    format: date-time
                    example: '2021-01-01'
                required:
                  - id
                  - name
                  - email
                  - createdAt
                  - updatedAt
